.container{    
    font-family: 'Space Grotesk', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding-bottom: 80px;
    padding-top: 40px;
    background-color: white;
}

.title{
    font-size: 44px;
    font-weight: bold;
    text-align: center;
}

.subTitle{
    font-size: 18px;
    opacity: 0.8;
    font-weight: 300;
}

.projectsAlt{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 70%;
    height: 40vh;
    gap: 4rem;
    /* background-color: aqua; */
}

.projects{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 70%;
    height: 40vh;
    gap: 4rem;
    /* background-color: aqua; */
}

.image {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: auto;
    min-width: auto;
    max-width: 40%;
    height: 100%;
}

.image img{
    width: auto;
    height: auto;
}

.text{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1rem;
}

.projectTitle{
    font-size: 28px;
    font-weight: bold;
}

.projectButton{
    border: none;
    border-radius: 8px;
    padding: 8px 12px 8px 12px;
    width: max-content;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: bold;
    font-size: 14px;
}

.projectButton:hover{
    background-color: black;
    transition: 0.2s;
    color: white;
}

.button{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

@media only screen and (max-width:768px){

    .container{    
        font-family: 'Space Grotesk', sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
        background-color: white;
    }

    .projectsAlt{
        width: 100%;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: flex-start;
        gap: 2rem;
    }
    
    .projects{
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: flex-end;
        gap: 2rem;
    }

    .title{
        padding-bottom: 0;
    }

    .image {
        width: auto;
        height: auto;
        /* display: none; */
    }

    .image img{
        width: auto;
        height: auto;
    }

    .title{
        font-size: 20px;
        font-weight: bold;
        text-align: center;
    }

    .projectTitle{
        font-size: 16px;
        font-weight: bold;
    }

    .subTitle{
        font-size: 14px;
        opacity: 0.8;
        font-weight: 300;
    }
    
    .projectButton{
        border: none;
        border-radius: 8px;
        padding: 6px 10px 6px 10px;
        width: max-content;
        font-family: 'Space Grotesk', sans-serif;
        font-weight: bold;
        font-size: 12px;
    }

    .button{
        display: flex;
        text-align: center;
        justify-content: center;
        flex-direction: row;
        gap: 1rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) and (min-resolution: 2dppx) {

    .container{    
        font-family: 'Space Grotesk', sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
        padding-bottom: 80px;
        background-color: white;
    }
    
    .projectsAlt{
        width: 80%;
        justify-content: center;
    }
    
    .projects{
        width: 80%;
        justify-content: center;
    }

    .title{
        font-size: 20px;
        font-weight: bold;
        text-align: center;
    }

    .projectTitle{
        font-size: 16px;
        font-weight: bold;
    }
    
    .subTitle{
        font-size: 14px;
        opacity: 0.8;
        font-weight: 300;
    }

    .projectButton{
        border: none;
        border-radius: 8px;
        padding: 6px 10px 6px 10px;
        width: max-content;
        font-family: 'Space Grotesk', sans-serif;
        font-weight: bold;
        font-size: 12px;
    }

    .button{
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
}